<div class="box">
    <div class="box-example">
        <div class="box-container">
            <header>
                <button (click)="changeTabToExercise()">Ejercicio</button>
                <button (click)="changeTabToResult()">Resultados</button>
            </header>
            <section class="query" *ngIf="tabExercise == true; else elseResult">
                <h2 class="title">Ejercicio</h2>
                <p class="statement">{{exercise.description}}</p>
            </section>
            <ng-template #elseResult>
                <div class="output-box">
                    <p id="result">{{this.result}}</p>
                </div>
            </ng-template>
        </div>
        <div class="container">
            <button (click)="changeCode()">Codigo</button>
            <button (click)="getExplain()">Pseudocodigo</button>

            <section class="code-box" *ngIf="changeCodeTab == true; else Pseudocodigo">
                <h3>Solución</h3>
                <textarea name="programming" id="programming" [(ngModel)]='codeTest'
                    (keydown)="handleKeydown($event)"></textarea>
            </section>
            <ng-template #Pseudocodigo>
                <section class="code-box">
                    <h3>Pseudocodigo</h3>
                    <textarea name="pseudocodigoString" id="programming" [(ngModel)]='pseudocodigoString'
                        (keydown)="handleKeydown($event)"></textarea>
                </section>
            </ng-template>
            <!--<section class="test-box">
                <h3>Test</h3>
                <textarea name="test" id="test" [(ngModel)]='codeTest'></textarea>
            </section>-->
            <div>
                <button (click)="executeCode()">Testear</button>
                <button (click)="goToSolvingTab()" [disabled]="IsDisabled">Publicar</button>
            </div>
        </div>
    </div>
</div>