<main>
    <div class="code">
        <h3>Tú codigo</h3>
        <p class="code-user">{{userExercise.solution}}</p>
        <div class="interactions">
            <button><i class="fa-solid fa-thumbs-up"></i></button>
            <button><i class="fa-solid fa-thumbs-down"></i></button>
            <!--<button><i class="fa-solid fa-person-chalkboard"></i> Explicar respuesta</button>-->
        </div>
    </div>
    <h3>Los usuarios tambien respondieron:</h3>
    <div class="user-response">
        <p>Hecho por: </p>
        <p class="code-user">codigo</p>
        <div class="interactions">
            <button><i class="fa-solid fa-thumbs-up"></i></button>
            <button><i class="fa-solid fa-thumbs-down"></i></button>
        </div>
    </div>
</main>